CODE FOR VIEW DATA TABLE
<table border="1" id="pdftable">
                      <thead>

                          <tr>
                            <th style="border: 1px solid black ;" >Asset name</th>
                            <th style="border: 1px solid black ;">Asset sn</th>
                            <th style="border: 1px solid black ;">Place from</th>
                            <th style="border: 1px solid black ;">Place to</th>
                            <th style="border: 1px solid black ;">Person name</th>
                            <th style="border: 1px solid black ;">Person ID</th>
                            <th style="border: 1px solid black ;">Reason</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr>
                            <td style="border: 1px solid black ;">{{Form.asset_name}}</td>
                            <td style="border: 1px solid black ;">{{Form.asset_sn}}</td>
                            <td style="border: 1px solid black ;">{{Form.place_from}}</td>
                            <td style="border: 1px solid black ;">{{Form.place_to}}</td>
                            <td style="border: 1px solid black ;">{{Form.person_name}}</td>
                            <td style="border: 1px solid black ;">{{Form.person_id}}</td>
                            <td style="border: 1px solid black ;">{{Form.reason}}</td>
                          </tr>
                          
                        </tbody>
                        </table>